@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrosel.css");
@import url("styles/topico.css");
@import url("styles/contato.css");
@import url("styles/rodape.css");


:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFF;
    --cor-principal: #EB9B00;
    --cor-principal-2: #eba721;
    --azul_degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --azul: #002F52;
    --black: #000;
    --cinza: #858585;
    --cinza-2: #474646;

}


body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 80px;
    font-weight: 400;
}

.estilo__botao:hover {

    background: var(--cor-principal-2);
}