.carrosel__titulo {

    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: var(--cor-principal);
    font-family: var(--fonte-principal);
    background: var(--branco);
    padding: 1em 0 0.5em 0;
}

.swiper-slide img {

    width: 100%;

}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}


.card {
    background: var(--branco);
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 1em;
    margin: 1em;
}

.card__descricao {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
    gap: 0.5em;

}

.card__botões {

    display: flex;
    justify-content: space-between;
}

.botões {
    display: flex;
    justify-content: space-between;

}

.descricao__titulo {
    color: var(--cor-principal);

    font-family: var(--fonte-principal);
    font-weight: 700;

    font-family: var(--fonte-principal);

}

.descricao__titulo-livro {

    color: var(--azul);
    font-family: var(--fonte-principal);

    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0;
}

.descricao__texto {

    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.botões__item {
    margin: 0 0.5em;
}

.card_ancora {
    font-family: var(--fonte-principal);
    background: var(--cor-principal);
    padding: 1em 2.2em;
    color: var(--branco);
    text-decoration: none;
    font-weight: 700;
}


@media screen and (min-width: 1024px) {

    .carrosel__titulo {

        font-size: 26px;

    }

    .swiper-pagination {
        margin: 2em 0 3em 0;
    }


    .swiper {
        width: 60%;

    }

    .swiper-button-prev,
    .swiper-button-next {
        display: block;
        background: var(--azul);
        color: var(--branco);
    }

    .card {
        width: 40%;
        margin: 4em auto;
    }


}